@import url('https://fonts.googleapis.com/css?family=Poppins-SemiBold&display=swap');

main {
    height: 100%;
    top: 0;
    bottom: 20px;
}

footer {
    height: 20px;
    color: lightgray;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: auto;
    left: 0;
    right: 0;
    font: 500 12px Roboto,"Helvetica Neue",sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    padding: 0 10px;
}

.link {
    color: lightblue;
    font-weight: bold;
}

body{
	height: 100vh; 
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	padding: 10px;
}

.container{
	max-width: 700px;
	width: 100%;
	background: #fff;
	backdrop-filter: blur(3px);
	padding: 25px 30px;
	border-radius: 5px;
	align-items: center;
}
